.Navbar {
   & ul {
      display: flex;
      align-items: baseline;
      padding: 0;
   }

   & li {
      margin: 0 1rem;
      & a {
         color: black;
         position: relative;
         cursor: pointer;
         &:hover {
            color: $color-primary;
            &::after {
               content: '';
               position: absolute;
               right: 0;
               left: 0;
               top: 1.7rem;
               border-bottom: 0.3rem solid $color-primary;
            }
         }
      }
   }
}

.active {
   font-size: 20px;
   font-weight: 900;
   transition: font-size 150ms;
   text-decoration: underline;
   &:hover {
      text-decoration: none;
   }
}
